@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #030303;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}